.eliminated-choice {
  position: relative;
}

.eliminated-choice::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd; /* Gray color */
}
